.button {
  font:
    600 1rem/1.2 "Montserrat",
    sans-serif;
  display: inline-block;
  padding: .75rem 2rem;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  transition: .3s;
  height: 3rem;
}

.button-primary {
  background: var(--primary-color);
  color: var(--support-color-200);
}

.button-primary:hover {
  background: var(--primary-color-100);
}

.button-secondary {
  background: var(--support-color-0);
  border: 1px solid rgba(143, 134,131, 0.5);
}

.button-secondary:hover {
  background: rgba(143, 134,131, 0.5);
}

.button.google {
  display: flex;
  justify-content: center;
  gap: 1rem;
}